*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

body {
  height: 100%;
}

img {
  object-fit: cover;
}

:where(ul, ol) {
  list-style: none;
}

:where(img, picture, video, iframe, svg) {
  max-inline-size: 100%;
  display: block;
}

:where(p, h1, h2, h3, h4, h5, h6, li, dl, dt, blockquote) {
  overflow-wrap: break-word;
  hyphens: auto;
}

:where(input, button, textarea, select) {
  font: inherit;
}

@media (prefers-reduced-motion) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
